﻿#mainpage{min-width:320px;position:relative;width:100%;height:100%;overflow-x:auto;padding:0 0 45px;float:left;
background: rgba(28,0,0,1);
background: -moz-linear-gradient(left, rgba(28,0,0,1) 0%, rgba(125,0,0,1) 50%, rgba(33,0,0,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(28,0,0,1)), color-stop(50%, rgba(125,0,0,1)), color-stop(100%, rgba(33,0,0,1)));
background: -webkit-linear-gradient(left, rgba(28,0,0,1) 0%, rgba(125,0,0,1) 50%, rgba(33,0,0,1) 100%);
background: -o-linear-gradient(left, rgba(28,0,0,1) 0%, rgba(125,0,0,1) 50%, rgba(33,0,0,1) 100%);
background: -ms-linear-gradient(left, rgba(28,0,0,1) 0%, rgba(125,0,0,1) 50%, rgba(33,0,0,1) 100%);
background: linear-gradient(to right, rgba(28,0,0,1) 0%, rgba(125,0,0,1) 50%, rgba(33,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c0000', endColorstr='#210000', GradientType=1 );
}
/* header */
.bt-menu-wrapper{z-index:8888;position: fixed;bottom:0;left:0;width:100%;background-color: #181818;}
.bt-menu{padding:0 5px; display: flex; justify-content: space-between; align-items: baseline; align-items: center;box-shadow:0px -2px 60px rgba(0, 0, 0, 0.1);max-width: 1080px; margin: 0 auto;}
.btm-1{grid-area:btm-1}.btm-2{grid-area:btm-2}.btm-3{grid-area:btm-3}
a.link-btm:link{color:#fff;}
a.link-btm:active{color:#fff;}
a.link-btm:visited{color:#fff;}
a.link-btm:hover * {color: #d5a400; text-shadow: none;}
.tx-btm{color:#fff;font-family:'thai_sans_literegular', sans-serif;font-size:0.96em;}
.sec-head{width:100%;position:relative;display:block;}
	.sh1{position:relative;width:100%;display:block;text-align:right;padding:5px 10%;float:left;}		
		a.sh-link:link{display:inline;position:relative;float:right;padding:0 5px;margin:5px 3px 0;}
		.hmenu{display:inline;float:right;color:#fff;font-size:0.56em;}
		.hico{display:inline;float:left;margin:-3px 3px 0 0;}		
	.sh2{display:grid;padding:5px 10%;text-align:center;margin:0 auto;align-items:center;grid-auto-rows: auto;
	grid-template-columns:240px 1fr;grid-template-areas:"h-logo . h-login";}
		.h-logo{grid-area:h-logo;width:100%;height:100%;
		background:url(../images/logo-01.png)no-repeat center center;background-size:95%;}
		.h-login{grid-area:h-login;padding:15px 0;}
			.form-login{display:grid;width:100%;max-width:280px;grid-template-columns:1fr 30%;grid-gap:10px;grid-row-gap:3px;
			grid-template-areas:"ib-01 ib-03""ib-02 ib-03""link-login link-login";grid-template-rows:auto auto 20px;}			
			.ib-01{grid-area:ib-01}.ib-02{grid-area:ib-02}.ib-03{grid-area:ib-03}
			.link-login{grid-area:link-login;text-align:right;margin-top:-3px;}
			a.tx-login:link{display:inline;color:#fff;font-size:0.5em;padding:0 10px;border-right:1px solid #fff;}
	.sh3{z-index:8887;width:100%;position:relative;display:grid;padding:3px 16% 8px;text-align:center;margin:0 auto;align-items:center;
	grid-template-columns:auto auto 1fr auto;grid-template-areas:"nav-home h-menu-l btn-cen h-menu-r";}
		.nav-home {display: none; grid-area: nav-home; margin-top: -5px; justify-content: end;}
		.h-menu-l{grid-area:h-menu-l;text-align:right;}
		.h-menu-r{grid-area:h-menu-r;text-align:left;}
		.btn-cen{grid-area:btn-cen;padding:0 5%;}
		#pop{width: 100%;}
		.sh3fix{position:fixed;top:0;left:0;z-index:8887;box-shadow:0 3px 40px rgba(255, 255, 255, 0.42);}
/* main */
.sub-menu{display:grid;grid-gap:15px;grid-template-columns:auto 1fr;grid-template-areas:"sm-left sm-right";padding:0 5%;align-items:center;}
	.sm-left{grid-area:sm-left;}
	.sm-right{grid-area:sm-right;text-align:right;}
a.sublink{display:inline;color:#fff;padding:0 6px;border-left:1px solid #535353;line-height:0.4;font-size:0.78em;}
.at-head{display:grid;grid-gap:15px;grid-template-columns:auto 1fr;grid-gap:10px;grid-template-areas:"ath-date ath-txrun";
background:#a10203;padding:2px;align-items:center;overflow:hidden;}
	.ath-date{grid-area:ath-date;}
	#date{color:#fff;font-family:'thai_sans_literegular', sans-serif;font-size:0.76em; margin: 0;}
	.ath-txrun{grid-area:ath-txrun;padding:3px 20px;background:#3f0101;overflow:hidden;}
		.tx-run{color:#fcd500;font-family:'thai_sans_literegular', sans-serif;font-size:0.76em;}
		.tx-topic{color:#fff;font-family:'thai_sans_literegular', sans-serif;font-size:0.96em;}
.at-content{display:block;margin:5px auto;position:relative;box-shadow:0px 2px 105px rgba(0, 0, 0, 0.6);
background: rgba(171,0,3,1);
background: -moz-linear-gradient(top, rgba(171,0,3,1) 0%, rgba(171,0,3,1) 1%, rgba(74,0,1,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(171,0,3,1)), color-stop(1%, rgba(171,0,3,1)), color-stop(100%, rgba(74,0,1,1)));
background: -webkit-linear-gradient(top, rgba(171,0,3,1) 0%, rgba(171,0,3,1) 1%, rgba(74,0,1,1) 100%);
background: -o-linear-gradient(top, rgba(171,0,3,1) 0%, rgba(171,0,3,1) 1%, rgba(74,0,1,1) 100%);
background: -ms-linear-gradient(top, rgba(171,0,3,1) 0%, rgba(171,0,3,1) 1%, rgba(74,0,1,1) 100%);
background: linear-gradient(to bottom, rgba(171,0,3,1) 0%, rgba(171,0,3,1) 1%, rgba(74,0,1,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ab0003', endColorstr='#4a0001', GradientType=0 );}	
.atc-01{display:block;width:100%;max-height:280px;overflow:hidden;position:relative;background: #181818;}
	.c1-slide{float:left;width:72%;background:#000;}
	.c1-program{float:right;width:28%;text-align:center;padding:15px;}
.atc-02{display:grid;width:100%;grid-template-columns:1fr 1fr 1fr;padding:0 3px;border-top:4px solid #000;border-bottom:4px solid #000;
grid-template-areas:"c2-left c2-center c2-right";grid-gap:3px;text-align:center;}
	.c2-left{grid-area:c2-left;}.c2-center{grid-area:c2-center;}.c2-right{grid-area:c2-right;}
	.c2in-left{position:relative;display:block;padding:15px 15px 10px;-webkit-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;
	background:url(../images/icon/c2-left.png)no-repeat -13% -25px;background-size:contain;}
	.c2in-cen{position:relative;display:block;padding:15px 15px 10px;-webkit-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;
	background:url(../images/icon/c2-cen.png)no-repeat -13% -25px;background-size:contain;}
	.c2in-right{position:relative;display:block;padding:15px 15px 10px;-webkit-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;
	background:url(../images/icon/c2-right.png)no-repeat -13% -25px;background-size:contain;}		
	.c2-left:hover .c2in-left,.c2-center:hover .c2in-cen,.c2-right:hover .c2in-right{padding-bottom:15px;}
	.tx-c2{color:#fff;font-family:'thai_sans_literegular', sans-serif;font-size:0.8em;margin-top:-12px;text-shadow:1px 1px 2px rgba(0, 0, 0, 0.55);}
.atc-03{display:grid;width:100%;grid-template-columns:auto auto auto;
grid-template-areas:"c3-s1 c3-s2 c3-s3";grid-gap:2px;text-align:center;}
	.c3-s1,.c3-s2,.c3-s3{height:180px;position:relative;display:table-cell;background:#333;-webkit-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;
	-webkit-filter:contrast(75%);filter:contrast(75%);-webkit-filter:brightness(80%);filter:brightness(80%);}
	.c3-s1:hover,.c3-s2:hover,.c3-s3:hover
	{box-shadow: 0px 2px 105px #d30101eb;z-index: 9;margin-top:-5px;background-size:120%;
		-webkit-filter:contrast(120%);filter:contrast(120%);-webkit-filter:brightness(115%);filter:brightness(115%);}
	.c3-s1{grid-area:c3-s1;background:url(../images/banner/s1.jpg)no-repeat center center;background-size:100%;}
	.c3-s2{grid-area:c3-s2;background:url(../images/banner/s2.jpg)no-repeat center center;background-size:100%;}
	.c3-s3{grid-area:c3-s3;background:url(../images/banner/s3.jpg)no-repeat center center;background-size:100%;}
	h2.atc-topic{position:absolute;bottom:0;width:100%;padding:5px 10px 3px 25px;font-family:'thai_sans_literegular', sans-serif;font-size:1em;color:#fff;
	background:rgba(0, 0, 0, 0.5) url(../images/icon/play.png)no-repeat 15px center;background-size:30px;
	-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
	.c3-s1:hover h2.atc-topic,.c3-s2:hover h2.atc-topic,.c3-s3:hover h2.atc-topic{
		padding:15px 10px 15px 25px;background:rgba(0, 0, 0, 0.9) url(../images/icon/play.png)no-repeat 15px center;background-size:30px;}
	p.atc-tx-sub{position:relative;opacity:0;height:0px;overflow:hidden;-webkit-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;
	font-family:'thai_sans_literegular', sans-serif;font-size:0.65em;color:#eaeaea;line-height:1;}
	a.c3-s1:hover p.atc-tx-sub,a.c3-s2:hover p.atc-tx-sub,a.c3-s3:hover p.atc-tx-sub
	{opacity:1;color:#fff;height:100%;}
.at-content2{display:block;overflow:hidden;margin:20px auto;width:100%;position:relative;padding:0 3px;}
	.atc-04{width:100%;height:200px;display:grid;padding:15px 5%;grid-template-areas:"c4-tx .";
	grid-template-columns:40% 1fr;align-items:center;
	background:url(../images/banner/banner-01.jpg)no-repeat center center;background-size:100%;}
	.atc-04:hover{-webkit-filter:contrast(120%);filter:contrast(120%);-webkit-filter:brightness(120%);filter:brightness(120%);
	background:url(../images/banner/banner-01.jpg)no-repeat center center;background-size:110%;}
	.c4-tx{grid-area:c4-tx;text-align:center;}
	p.tx-banner{font-size:1.8em;font-family:'Teko','thai_sans_literegular', sans-serif;color:#fff;font-weight:400;text-shadow:0 2px 12px #ff0000;}
.at-content3{display:block;overflow:hidden;margin:10px auto;width:100%;position:relative;min-height:300px;padding:15px 5%;
background:#620001 url(../images/bg2.jpg)no-repeat top center;background-size:cover;}
.tx-big{font-size:2.8em;font-family:'Teko','thai_sans_literegular', sans-serif;color:#ffd104;font-weight:900;text-align:center;}
.tx-content{font-size:0.6rem;line-height:1.2;color:rgba(255, 255, 255, 0.75);text-indent:60px;}

/* footer */
.ft-01{display:grid;align-items:center;grid-gap:2%;margin:0 auto;width:100%;position:relative;height:100%;
grid-template-columns:50% 15% auto;grid-template-areas:"ft1 ft2 ft3"}
	.ft1{grid-area:ft1;}.ft2{grid-area:ft2;}.ft3{grid-area:ft3;text-align:center;}
.ft1{display:grid;grid-gap:15px;align-items:center;justify-content:end;grid-template-columns:180px auto 100px;grid-template-areas:"ft1-1 ft1-2 ft1-3";
-ms-transform: skewX(30deg);-webkit-transform: skewX(30deg);transform: skewX(30deg);
padding-left:80px;margin-left:-50px;}
	.ft1-1{grid-area:ft1-1;-ms-transform: skewX(-30deg);-webkit-transform: skewX(-30deg);transform: skewX(-30deg);}
	.ft1-2{grid-area:ft1-2;-ms-transform: skewX(-30deg);-webkit-transform: skewX(-30deg);transform: skewX(-30deg);}
	.ft1-3{grid-area:ft1-3;-ms-transform: skewX(-30deg);-webkit-transform: skewX(-30deg);transform: skewX(-30deg);margin:-20px -20px 0 0;}
.ft2{border-right:1px solid #fff;}
.ft-02{display:block;position:relative;width:100%;margin:0 auto;padding:10px;text-align:center;
font-size:0.7em;font-family:'thai_sans_literegular', sans-serif;color:#fff;font-weight:100;letter-spacing: 2px;}
.tx-ft1{font-size:0.8em;font-family:'thai_sans_literegular', sans-serif;color:#fff;line-height:1.1;}
.tx-ft2{font-size:0.74em;font-family:'thai_sans_literegular', sans-serif;color:#ffd104;line-height:1.1;}
.tx-ft3{font-size:1em;font-family:'thai_sans_literegular', sans-serif;color:#ffd104;line-height:1.3;text-align:center;}

/* page */
.content-page{width:100%;position:relative;display:block;padding:15px 30px 20px;overflow:hidden;min-height:480px;}
.topic-page{padding:5px 15px 8px;font-size:1.1em;font-family:'thai_sans_literegular', sans-serif;font-weight:900;
color:#fff;text-align:center;overflow:hidden;margin:10px auto;}
	.reg-box{display:grid;grid-template-columns:1fr 1fr;grid-gap:30px;grid-template-areas:"reg-left reg-right"}
	.register-left{display:grid;grid-area:reg-left;font-size:0.8em;position:relative;width:100%;padding:15px 5%;}
	.register-right{display:grid;grid-area:reg-right;align-items:center;width:100%;position:relative;padding:20px;margin:0 auto;
	border-left:1px solid #fff;}
		.regis-menu{display:grid;align-items:center;text-align:center;}
		.menu-help-box{padding:20px;width:100%;display:grid;grid-template-columns:1fr;
		margin:10px auto;border-radius:8px;border:2px solid #fff;}
.content-page-w{width:100%;position:relative;display:block;padding:15px 30px 20px;overflow:hidden;min-height:480px;background:#f5f5f5}	
.promotion-box{display:grid;align-items:center;grid-gap:10px;padding:10px;margin:0 auto 10px;border-bottom:1px solid #444;
min-height:200px;grid-template-columns:1fr 30%;grid-template-areas:"pb-1 pb-2""pb-3 pb-3";}
	.pb-1{grid-area:pb-1;}	.pb-2{grid-area:pb-2;}	.pb-3{grid-area:pb-3;}	
	.pb-1,.pb-2,.pb-3{text-align:center;color:#444;}
	.pb-1:after{content: '';width:100%;height:30px;position:relative;display:block;margin-bottom:-15px;
	background:url(../images/promotion/shadow.png)no-repeat top center;background-size:100%;}
	.tx-pro-h{font-size:1.2em;font-family:'thai_sans_literegular', sans-serif;color:#000;line-height:1.2;text-align:left;font-weight:600;}
		
/* Casino */
	.ca-top-box{display:grid;width:100%;text-align:center;margin:0 auto;padding:3%;
	font-size:1.6em;color:#fff;line-height:1;text-align:center;font-weight:600;
	}
.ca-intro{z-index:64;display:grid;width:100%;max-width:1180px;margin:0 auto;grid-template-columns:1fr;
grid-template-areas:"ca-left ca-right""ca-center ca-center";align-items:start;padding:0 5%;}
	.ca-left{grid-area:ca-left;}
	.ca-center{grid-area:ca-center;max-width: 320px;margin:-13% auto -18% 20%;}
	.ca-right{grid-area:ca-right;display:grid;text-align:center;grid-gap:15px;max-width:360px;right:10%;top:30%;position: absolute;}
.casino-page1{min-height:80px;display:block;z-index:60;
background: rgba(33,0,0,1);
background: -moz-linear-gradient(left, rgba(33,0,0,1) 0%, rgba(49,0,0,1) 42%, rgba(33,0,0,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(33,0,0,1)), color-stop(42%, rgba(49,0,0,1)), color-stop(100%, rgba(33,0,0,1)));
background: -webkit-linear-gradient(left, rgba(33,0,0,1) 0%, rgba(49,0,0,1) 42%, rgba(33,0,0,1) 100%);
background: -o-linear-gradient(left, rgba(33,0,0,1) 0%, rgba(49,0,0,1) 42%, rgba(33,0,0,1) 100%);
background: -ms-linear-gradient(left, rgba(33,0,0,1) 0%, rgba(49,0,0,1) 42%, rgba(33,0,0,1) 100%);
background: linear-gradient(to right, rgba(33,0,0,1) 0%, rgba(49,0,0,1) 42%, rgba(33,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#210000', endColorstr='#210000', GradientType=1 );
}
.casino-page2{text-align:center;display:grid;width:100%;margin:0 auto;padding: 30px;}
.casino-page3{text-align:center;min-height:400px;background:#f6f6f6;width:100%;margin:0 auto;padding: 30px;}
.casino-ft{margin:0 auto;width:100%;max-width:1080px;}
	.tx-casino1{font-size:1.3em;font-family:'thai_sans_literegular', sans-serif;color:#fff;line-height:1;text-align:center;font-weight:600;}
	.tx-casino2{font-size:2.2em;font-family:'thai_sans_literegular', sans-serif;color:#444;line-height:1.3;text-align:center;font-weight:100;}
.ca-slide{display:table-cell;max-width:1024px;width:100%;margin:0 auto 50px;padding:8% 5% 0;position:relative;height: 430px;
background:url(../images/intro/bg-slide-phone.png)no-repeat top center;background-size:100%;}
	.ca-slide-in{width:52.5%;position:absolute;left:38.2%;top:23%;display:block;border:2px solid #000;}
.feature{display:grid;width:80%;margin: 20px auto 0 auto;grid-gap:20px;grid-template-columns:1fr 1fr 1fr;padding:0 10%;}
.fe{font-size:1.2em;font-family:'thai_sans_literegular', sans-serif;color:#fff;padding:5px 5px 5px 40px;text-align:center;
background:url(../images/icon/ck.png)no-repeat left center;background-size:30px;}	

/* Game service */
.game-content{display:grid;text-align:center;grid-gap:24px;grid-template-columns:1fr 1fr 1fr;align-items:center;
width:100%;max-width:1080px;margin:10px auto 30px;}	
.game-box{display:grid;width:100%;min-height:240px;border-radius:8px;background:#fff;grid-template-columns:1fr;
grid-template-areas:"g-cover""g-info";box-shadow:0 10px 30px rgba(0, 0, 0, 0.03);
-webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
	.g-cover{grid-area:g-cover;}.g-info{grid-area:g-info;}
.g-cover{display:grid;border-radius:8px 8px 0 0;overflow:hidden;grid-template-columns:100%;
align-items:end;position:relative;grid-auto-rows:auto;}	
	img.g-img{position:relative;grid-row: 1/2;grid-column: 1;-webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;}
	h2.game-name{position:relative;grid-row:1;grid-column: 1;background:rgba(0, 0, 0, 0.7);color:#fff;padding:8px 5px;
	font-size:1.2em;font-family:'thai_sans_literegular', sans-serif;font-weight:900;}
.g-info{display:grid;padding:10px 10px 15px;}
.game-box:hover img.g-img{-webkit-filter:contrast(120%);filter:contrast(120%);-webkit-filter:brightness(110%);filter:brightness(110%);}	
	.tx-info{font-size:0.85em;font-family:'thai_sans_literegular', sans-serif;color:#444;line-height:1.2;padding:0px 15px; max-height: 75px; overflow: scroll;}
	
/* SLOT */
.slot-page{position:relative;display:block;background:#000 url(../images/slot/bg-slot.jpg)no-repeat fixed center center;background-size:cover;
width:100%;padding:3% 15%;margin:0 auto;}	
.slot-box1{display:grid;width:100%;text-align:center;margin:0 auto;padding:5% 5% 10%;font-size:1.8em;color:#fff;line-height:1.2;
text-align:center;font-weight:600;background:rgba(0, 0, 0, 0.4);border-radius:12px;}
.slot-intro{position:relative;display:block;background:#000 url(../images/slot/bg-slot2.jpg)no-repeat top center;background-size:cover;
width:100%;padding:3% 15% 5%;margin:0 auto;text-align:center;width:100%;grid-template-columns:1fr;}	
.slot-cen{margin-top:-10%;-webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;
-webkit-filter:contrast(80%);filter:contrast(80%);-webkit-filter:brightness(80%);filter:brightness(80%);}
.slot-intro:hover .slot-cen{-webkit-filter:contrast(120%);filter:contrast(120%);-webkit-filter:brightness(110%);filter:brightness(110%);}
.slot-content{text-align:center;min-height:600px;background:#f4f4f4;width:100%;margin:0 auto;padding:30px;}

.game-slot{display:grid;text-align:center;grid-gap:30px;grid-template-columns:1fr 1fr 1fr;align-items:center;
width:100%;max-width:1200px;margin:10px auto 30px;padding:5%;}
.slot-box{display:grid;width:100%;min-height:240px;border-radius:30px 30px 8px 8px;background:#490000;grid-template-columns:1fr;
grid-template-areas:"slot-cover""slot-info""slot-btn";box-shadow:0 10px 30px rgba(0, 0, 0, 0.03);align-items:start;
-webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out;position:relative;}
	.slot-cover{z-index:70;display:grid;grid-area:slot-cover;background:none;grid-template-columns:100%;
	grid-template-areas:"sl-cv-bg""sl-chr";position: relative;align-items:start;}		
		.sl-cv-bg{z-index:71;grid-area:sl-cv-bg;grid-row: 1/2;border-radius:30px 30px 0 0;overflow:hidden;}
		.sl-chr{z-index:72;grid-area:sl-chr;grid-row: 1/2;position: absolute;top:-20px;
		-webkit-transition: all .3s ease-out; transition: all .3s ease-out;}
	.slot-box:hover .sl-chr{position: absolute;top:-45px;}	
	.slot-info{z-index:73;grid-area:slot-info;padding:10px 20px 20px;grid-row: 2/3;margin-top:-20%;border-radius: 0 0 8px 8px;
	background: rgba(150,0,0,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(150,0,0,1) 0%, rgba(150,0,0,1) 2%, rgba(64,0,0,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(150,0,0,1)), color-stop(2%, rgba(150,0,0,1)), color-stop(100%, rgba(64,0,0,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(150,0,0,1) 0%, rgba(150,0,0,1) 2%, rgba(64,0,0,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(150,0,0,1) 0%, rgba(150,0,0,1) 2%, rgba(64,0,0,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(150,0,0,1) 0%, rgba(150,0,0,1) 2%, rgba(64,0,0,1) 100%);
background: radial-gradient(ellipse at center, rgba(150,0,0,1) 0%, rgba(150,0,0,1) 2%, rgba(64,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#960000', endColorstr='#400000', GradientType=1 );
	}
		.sl-logo{z-index:75;margin-top:-20%;margin-bottom: -5%;}
	.slot-btn{z-index:74;grid-area:slot-btn;display:grid;margin-top:-10%;padding:10px 10px 20px;grid-row: 2/3;background:#fff;width:100%;opacity:0;
	border-radius: 0 0 7px 7px;-webkit-transition: all .5s ease-out; transition: all .5s ease-out;align-items:end;}
	.slot-box:hover .slot-btn{opacity:1;}
	.slot-box:hover{box-shadow:0 -10px 40px rgba(0, 0, 0, 0.2);} 
	.slot-box:hover .sl-chr{-webkit-filter:contrast(120%);filter:contrast(120%);-webkit-filter:brightness(130%);filter:brightness(130%);}
.tx-name-slot{font-size:1.1em;font-family:'Teko', sans-serif;color:#444;line-height:1.4;}
.tx-slot{font-size:0.8em;font-family:'thai_sans_literegular', sans-serif;color:#fff;line-height:1;font-weight:100;}
.slot-eff{-webkit-transition: all .3s ease-out; transition: all .3s ease-out;
	-webkit-filter:contrast(80%);filter:contrast(80%);
	-webkit-filter:brightness(200%);filter:brightness(200%);
	-webkit-filter: grayscale(100%);filter: grayscale(100%);
}		
.slot-box:hover	.slot-eff{
	-webkit-filter:contrast(110%);filter:contrast(110%);
	-webkit-filter:brightness(115%);filter:brightness(115%);
	-webkit-filter: grayscale(0%);filter: grayscale(0%);
}
.new{z-index:76;display:table-cell;position:absolute;right:0;bottom:0;width:60%;height:60%;overflow:hidden;pointer-events: none;}	
.tx-new{padding:5px 40px;text-align:center;font-size:0.8em;font-family:'Teko', sans-serif;color:#fff;background:#c50000;
-ms-transform: rotate(-40deg);-webkit-transform: rotate(-40deg);transform: rotate(-40deg);
position:absolute;bottom:4px;right:-60%;width:150%;box-shadow:2px 2px 6px rgba(0, 0, 0, 0.4);
}	
	
	
/* Responsive */
@media only screen and (max-width:780px){
.col-50{width:100%;}
html,#mainpage{min-width:240px}
.box-slide{display:none;}
.nameweb2{text-align:center;}
#toggle + label{display:block;}
.sh1{padding:5px;}.sh2{padding:0 30px 5px;grid-template-columns: 42% 1fr 45%;}
.sh3{padding: 3px 2% 8px;grid-template-columns:1fr;grid-template-areas: "nav-home";}
.h-menu-l,.h-menu-r,.btn-cen{display:none}.nav-home{justify-content: center;}
article{padding:0 5%;}
.sub-menu{display:none;}
.at-head{grid-template-columns:1fr;grid-template-areas: "ath-txrun";}
.ath-date{display:none;}
.c1-slide{width:100%;}
.c1-program{display:none;}
p.tx-banner{font-size: 1.4em;}
.ft-01{grid-template-columns: 60% auto;grid-template-areas: "ft1 ft3";}
.ft2{display:none;}
.ft1{grid-template-columns: 120px auto 90px;}
.atc-02{grid-template-columns: 1fr;grid-template-areas: "c2-left""c2-center""c2-right";}
.c2in-left{background: url(../images/icon/c2-left.png)no-repeat -3% center;background-size: contain;}
.c2in-cen{background: url(../images/icon/c2-cen.png)no-repeat -3% center;background-size: contain;}
.c2in-right{background: url(../images/icon/c2-right.png)no-repeat -3% center;background-size: contain;}
.c3-s1{background-size:cover;}.c3-s2{background-size:cover;}.c3-s3{background-size:cover;}
.c3-s1:hover, .c3-s2:hover, .c3-s3:hover{background-size: 160%;}
.atc-04{height: 160px;}
.reg-box{grid-template-columns:1fr;grid-gap:10px;grid-template-areas:"reg-left""reg-right"}
.register-right{border:none;}
button.registerbtn{width:80%;max-width:100%;margin:8px 10%;}
.promotion-box{grid-template-columns: 1fr;grid-template-areas: "pb-1""pb-2""pb-3";grid-gap:0;}
.pb-1, .pb-2, .pb-3{font-size:0.86em;}
.tx-casino1{font-size: 1em;font-weight:100;}
.ca-intro{grid-template-areas: "ca-right""ca-left""ca-center";}
.ca-right{max-width:100%;position:relative;right:0;top:0;}
.ca-center,.ca-left,.casino-page1{display:none;}
.ca-top-box{font-size: 1.1em;}
.ca-slide{height:300px;}
.ca-slide-in{top:21%;border: 1px solid #000;}
.feature{grid-template-columns:1fr;grid-gap:0;}
.fe{font-size:1.2em;font-family:'thai_sans_literegular', sans-serif;color:#fff;padding:30px 5px 5px 5px;text-align:center;
background:url(../images/icon/ck.png)no-repeat top center;background-size:30px;}	
.game-content{grid-template-columns:1fr 1fr;}
.game-slot{grid-template-columns:1fr 1fr;}
}
@media only screen and (max-width:1024px)and (min-width:780.01px){
#toggle + label{display:none;}
.sh1{padding:5px 20px;}.sh2{padding:0 30px 5px;grid-template-columns: 30% 1fr 40%;}
.sh3{padding: 3px 2% 8px;grid-template-columns:1fr auto auto 1fr;grid-template-areas: "nav-home h-menu-l h-menu-r .";}
.btn-cen{display:none}
article{padding:0 5%;}
.sub-menu{grid-template-columns:1fr;grid-template-areas: "sm-left";}
.sm-right{display:none;}
.at-head{grid-template-columns:1fr;grid-template-areas: "ath-txrun";}
.ath-date{display:none;}
.c1-slide{width:100%;}
.c1-program{display:none;}
p.tx-banner{font-size: 1.4em;}
.ft-01{grid-template-columns: 50% 22% auto;}
.ft1{grid-template-columns: 120px auto 90px;}
.ca-intro{grid-template-areas: "ca-right""ca-left""ca-center";}
.ca-right{max-width: 280px;right: 5%;top: 25%;}
.ca-center{max-width: 280px;}
.ca-slide-in{top: 18%;border: 1px solid #000;}
.fe{font-size:1.2em;font-family:'thai_sans_literegular', sans-serif;color:#fff;padding:30px 5px 5px 5px;text-align:center;
background:url(../images/icon/ck.png)no-repeat top center;background-size:30px;}
.video-content {flex-direction: column;}
}
@media only screen and (max-width:1280px)and (min-width:1024.01px){
#toggle + label{display:none;}
.sh3{padding: 3px 10% 8px;}
article{padding:0 3%;}
}
@media only screen and (min-width:1024.01px){
#toggle + label{display:none;}
}
@media (max-width:624px){
.ft-01{grid-template-columns:1fr;grid-template-areas: "ft1";}
.ft3{display:none;}
}
@media (max-width:480px){
.nav-home {display: block}
.sh2{padding:5px 25%;grid-template-columns:1fr;grid-template-areas: "h-logo";}
.h-logo{height:70px;}.h-login{display:none;}
.c2in-left{background: url(../images/icon/c2-left.png)no-repeat -3% center;background-size:50px;}
.c2in-cen{background: url(../images/icon/c2-cen.png)no-repeat -3% center;background-size:50px;}
.c2in-right{background: url(../images/icon/c2-right.png)no-repeat -3% center;background-size:50px;}
.atc-03{grid-template-columns: 1fr;grid-template-areas: "c3-s1""c3-s2""c3-s3";}
.c3-s1, .c3-s2, .c3-s3{height:140px;background-size: 100%;}
.c3-s1:hover, .c3-s2:hover, .c3-s3:hover{background-size: 120%;}
.atc-04{height: 300px;background-size: cover;grid-template-areas: "c4-tx";grid-template-columns: 1fr;}
.atc-04:hover{background-size: cover;}
.c4-tx{display: grid;align-items: center;padding: 40px;background: rgba(0, 0, 0, 0.8);}
.tx-btm{display:none;}
.btm-1, .btm-2, .btm-3, .btm-4, .btm-5{padding:10px;}
.ca-slide{height:220px;}
.ca-slide-in{top:21%;border: 1px solid #000;}
.tx-casino2{font-size:1.4rem}
.game-content{grid-template-columns:1fr 1fr; grid-gap: 15px;}
.game-slot{grid-template-columns:1fr;}
.slot-intro{display:none;}
.slot-content{background:#000;}
.slot-cover{max-height: 180px;}
.slot-info{background:none;}
.tx-slot{display:none;padding: 10px;}
.slot-btn{opacity:1;}
.ft1-3{display:none;}
.ft1{grid-template-areas: "ft1-1 ft1-2";grid-template-columns:1fr 1fr;overflow:hidden;}
footer{overflow: hidden;}
}