﻿@font-face{font-family:'thai_sans_literegular';src:url('thaisanslite_r1-webfont.eot');src:url('thaisanslite_r1-webfont.eot?#iefix') format('embedded-opentype'),
url('thaisanslite_r1-webfont.woff') format('woff'),
url('thaisanslite_r1-webfont.ttf') format('truetype'),
url('thaisanslite_r1-webfont.svg#thai_sans_literegular') format('svg');font-style:normal;}
*, *:before, *:after {box-sizing:border-box;padding:0;margin:0 auto;}
html{width:100%;min-width:320px;margin:0px auto;color:#eaeaea;font-family:Arial,sans-serif;font-size:24px;background:#000;}
main{display:block;position:relative;width:100%;float:left;margin:0 auto;
background:url(../images/bg.jpg)no-repeat top center;background-size:cover;}
article{z-index:20;width:100%;max-width:1024px;margin:5px auto;position:relative;display:block;}
.row{width:100%;position:relative;box-sizing: border-box;margin:0 auto;padding:0;}
footer{width:100%;margin:10px auto;}
/* template*/
body,div,dl,dt,dd,ol,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,a
{font-size:1em;margin:0;padding:0;border-width:0;}
span{display:inline;}
h1{font-size:2.9em;font-weight:inherit;}
h2{font-size:1.3em;font-weight:inherit;}
h3{font-size:1.1em;font-weight:inherit;}
ul{list-style-type:none;padding:0px;margin:0px;}
strong{font-weight:800;}
a:link{text-decoration:none;color:#fff;-webkit-transition: all 0.2s ; transition: all 0.2s;}
a:visited{color:#fff;text-decoration:1px;}
a:hover{color:#ffc400;text-decoration:none;text-shadow:0 0 5px #fff300;}
a:active{color:#fff;text-decoration:none;}
a.menu-main:link{color:#fff;margin:3px 0;padding:3px 10px;text-align:center;font-family:'thai_sans_literegular', sans-serif;font-size:0.9em;
-webkit-transition: all 0.3s ; transition: all 0.3s;}
a.menu-main:visited{color:#fff;}
a.menu-main:hover{color:#ffc400;}
a.menu-main:active{color:#fff;}
ul.side-menu{display:grid;width:100%;grid-gap:2px;align-items:center;justify-content:center;
grid-template-rows:auto;grid-template-columns:1fr;}
li a.side-menu-li:link{color:#fff;display: block;width: 100%;padding:3px 20px;text-align:left;
font-family:'thai_sans_literegular', sans-serif;font-size:1em;
-webkit-transition: all 0.3s ; transition: all 0.3s;
background: rgba(143,0,0,1);
background: -moz-linear-gradient(left, rgba(143,0,0,1) 0%, rgba(143,0,0,1) 4%, rgba(176,0,0,1) 84%, rgba(156,0,0,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(143,0,0,1)), color-stop(4%, rgba(143,0,0,1)), color-stop(84%, rgba(176,0,0,1)), color-stop(100%, rgba(156,0,0,1)));
background: -webkit-linear-gradient(left, rgba(143,0,0,1) 0%, rgba(143,0,0,1) 4%, rgba(176,0,0,1) 84%, rgba(156,0,0,1) 100%);
background: -o-linear-gradient(left, rgba(143,0,0,1) 0%, rgba(143,0,0,1) 4%, rgba(176,0,0,1) 84%, rgba(156,0,0,1) 100%);
background: -ms-linear-gradient(left, rgba(143,0,0,1) 0%, rgba(143,0,0,1) 4%, rgba(176,0,0,1) 84%, rgba(156,0,0,1) 100%);
background: linear-gradient(to right, rgba(143,0,0,1) 0%, rgba(143,0,0,1) 4%, rgba(176,0,0,1) 84%, rgba(156,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f0000', endColorstr='#9c0000', GradientType=1 );
}
li a.side-menu-li:hover{color:#fcd500;padding-left:36px;
	background: rgba(120,0,0,1);
background: -moz-linear-gradient(left, rgba(120,0,0,1) 0%, rgba(120,0,0,1) 4%, rgba(128,0,0,1) 49%, rgba(184,0,0,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(120,0,0,1)), color-stop(4%, rgba(120,0,0,1)), color-stop(49%, rgba(128,0,0,1)), color-stop(100%, rgba(184,0,0,1)));
background: -webkit-linear-gradient(left, rgba(120,0,0,1) 0%, rgba(120,0,0,1) 4%, rgba(128,0,0,1) 49%, rgba(184,0,0,1) 100%);
background: -o-linear-gradient(left, rgba(120,0,0,1) 0%, rgba(120,0,0,1) 4%, rgba(128,0,0,1) 49%, rgba(184,0,0,1) 100%);
background: -ms-linear-gradient(left, rgba(120,0,0,1) 0%, rgba(120,0,0,1) 4%, rgba(128,0,0,1) 49%, rgba(184,0,0,1) 100%);
background: linear-gradient(to right, rgba(120,0,0,1) 0%, rgba(120,0,0,1) 4%, rgba(128,0,0,1) 49%, rgba(184,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#780000', endColorstr='#b80000', GradientType=1 );
}
nav ul{padding:5px 0px 5px;list-style-type: none;text-align:center;margin:0 auto;}
nav ul li {display:inline;margin:0;background:none;-webkit-transition:all 0.5s;transition:all 0.5s;}
nav ul li a{opacity:1;}
ul li.nav-menu{display:inline;}
ul li.nav-menu:nth-last-child(1){padding-right:5px;}
p{color:#828282;font-family:Arial,sans-serif;font-size:16px;font-style:normal;font-weight:normal;letter-spacing:0px;line-height:1.3;text-decoration:none;text-indent:0px;vertical-align:0px;padding:0px;}
img{vertical-align:middle;}
a,img{border:none;outline:none;vertical-align:middle}
.line{width:100%;height:0px;float:left;margin:5px auto;border-bottom:1px solid #d9d9d9}
.linegold{width:100%;position:relative;display:block;height:3px;margin:5px auto;
background: rgba(139,75,19,1);
background: -moz-linear-gradient(top, rgba(139,75,19,1) 0%, rgba(192,137,54,1) 9%, rgba(193,142,55,1) 19%, rgba(255,250,174,1) 42%, rgba(193,142,55,1) 66%, rgba(125,69,0,1) 83%, rgba(193,142,55,1) 98%, rgba(193,142,55,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(139,75,19,1)), color-stop(9%, rgba(192,137,54,1)), color-stop(19%, rgba(193,142,55,1)), color-stop(42%, rgba(255,250,174,1)), color-stop(66%, rgba(193,142,55,1)), color-stop(83%, rgba(125,69,0,1)), color-stop(98%, rgba(193,142,55,1)), color-stop(100%, rgba(193,142,55,1)));
background: -webkit-linear-gradient(top, rgba(139,75,19,1) 0%, rgba(192,137,54,1) 9%, rgba(193,142,55,1) 19%, rgba(255,250,174,1) 42%, rgba(193,142,55,1) 66%, rgba(125,69,0,1) 83%, rgba(193,142,55,1) 98%, rgba(193,142,55,1) 100%);
background: -o-linear-gradient(top, rgba(139,75,19,1) 0%, rgba(192,137,54,1) 9%, rgba(193,142,55,1) 19%, rgba(255,250,174,1) 42%, rgba(193,142,55,1) 66%, rgba(125,69,0,1) 83%, rgba(193,142,55,1) 98%, rgba(193,142,55,1) 100%);
background: -ms-linear-gradient(top, rgba(139,75,19,1) 0%, rgba(192,137,54,1) 9%, rgba(193,142,55,1) 19%, rgba(255,250,174,1) 42%, rgba(193,142,55,1) 66%, rgba(125,69,0,1) 83%, rgba(193,142,55,1) 98%, rgba(193,142,55,1) 100%);
background: linear-gradient(to bottom, rgba(139,75,19,1) 0%, rgba(192,137,54,1) 9%, rgba(193,142,55,1) 19%, rgba(255,250,174,1) 42%, rgba(193,142,55,1) 66%, rgba(125,69,0,1) 83%, rgba(193,142,55,1) 98%, rgba(193,142,55,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b4b13', endColorstr='#c18e37', GradientType=0 );
}
.indent{text-indent:45px;}
.tx-art2{font-family:'thai_sans_literegular', sans-serif;}
/* bg */
.sh1{background: rgba(66,0,1,1);
background: -moz-linear-gradient(top, rgba(66,0,1,1) 0%, rgba(96,0,2,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(66,0,1,1)), color-stop(100%, rgba(96,0,2,1)));
background: -webkit-linear-gradient(top, rgba(66,0,1,1) 0%, rgba(96,0,2,1) 100%);
background: -o-linear-gradient(top, rgba(66,0,1,1) 0%, rgba(96,0,2,1) 100%);
background: -ms-linear-gradient(top, rgba(66,0,1,1) 0%, rgba(96,0,2,1) 100%);
background: linear-gradient(to bottom, rgba(66,0,1,1) 0%, rgba(96,0,2,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#420001', endColorstr='#600002', GradientType=0 );
	}
.sh2{background: rgba(181,0,0,1);
background: -moz-linear-gradient(top, rgba(181,0,0,1) 0%, rgba(66,0,0,1) 96%, rgba(13,0,0,1) 99%, rgba(13,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(181,0,0,1)), color-stop(96%, rgba(66,0,0,1)), color-stop(99%, rgba(13,0,0,1)), color-stop(100%, rgba(13,0,0,1)));
background: -webkit-linear-gradient(top, rgba(181,0,0,1) 0%, rgba(66,0,0,1) 96%, rgba(13,0,0,1) 99%, rgba(13,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(181,0,0,1) 0%, rgba(66,0,0,1) 96%, rgba(13,0,0,1) 99%, rgba(13,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(181,0,0,1) 0%, rgba(66,0,0,1) 96%, rgba(13,0,0,1) 99%, rgba(13,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(181,0,0,1) 0%, rgba(66,0,0,1) 96%, rgba(13,0,0,1) 99%, rgba(13,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b50000', endColorstr='#0d0000', GradientType=0 );
	}
.sh3{background: rgba(64,0,1,1);
background: -moz-linear-gradient(top, rgba(64,0,1,1) 0%, rgba(64,0,1,1) 1%, rgba(158,0,3,1) 4%, rgba(96,2,3,1) 34%, rgba(33,0,0,1) 84%, rgba(33,0,0,1) 93%, rgba(143,0,0,1) 96%, rgba(20,0,0,1) 98%, rgba(20,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(64,0,1,1)), color-stop(1%, rgba(64,0,1,1)), color-stop(4%, rgba(158,0,3,1)), color-stop(34%, rgba(96,2,3,1)), color-stop(84%, rgba(33,0,0,1)), color-stop(93%, rgba(33,0,0,1)), color-stop(96%, rgba(143,0,0,1)), color-stop(98%, rgba(20,0,0,1)), color-stop(100%, rgba(20,0,0,1)));
background: -webkit-linear-gradient(top, rgba(64,0,1,1) 0%, rgba(64,0,1,1) 1%, rgba(158,0,3,1) 4%, rgba(96,2,3,1) 34%, rgba(33,0,0,1) 84%, rgba(33,0,0,1) 93%, rgba(143,0,0,1) 96%, rgba(20,0,0,1) 98%, rgba(20,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(64,0,1,1) 0%, rgba(64,0,1,1) 1%, rgba(158,0,3,1) 4%, rgba(96,2,3,1) 34%, rgba(33,0,0,1) 84%, rgba(33,0,0,1) 93%, rgba(143,0,0,1) 96%, rgba(20,0,0,1) 98%, rgba(20,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(64,0,1,1) 0%, rgba(64,0,1,1) 1%, rgba(158,0,3,1) 4%, rgba(96,2,3,1) 34%, rgba(33,0,0,1) 84%, rgba(33,0,0,1) 93%, rgba(143,0,0,1) 96%, rgba(20,0,0,1) 98%, rgba(20,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(64,0,1,1) 0%, rgba(64,0,1,1) 1%, rgba(158,0,3,1) 4%, rgba(96,2,3,1) 34%, rgba(33,0,0,1) 84%, rgba(33,0,0,1) 93%, rgba(143,0,0,1) 96%, rgba(20,0,0,1) 98%, rgba(20,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#400001', endColorstr='#140000', GradientType=0 );
	}
#icon-btm1{width:26px;height:24px;background:url(../images/icon/icon-s.png)no-repeat;background-position:-150px 0;}	
#icon-btm2{width:28px;height:24px;background:url(../images/icon/icon-s.png)no-repeat;background-position:-176px 0;}	
#icon-btm3{width:26px;height:24px;background:url(../images/icon/icon-s.png)no-repeat;background-position:-204px 0;}	
#ic-faq{width:24px;height:24px;background:url(../images/icon/icon-s.png)no-repeat;background-position:0 0;}
#ic-help{width:24px;height:24px;background:url(../images/icon/icon-s.png)no-repeat;background-position:-24px 0;}
#ic-home{width:26px;height:24px;background:url(../images/icon/icon-s.png)no-repeat;background-position:-51px 0;}
.sub-menu{
	background: rgba(0,0,0,1);
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 2%, rgba(54,54,54,1) 81%, rgba(31,31,31,1) 88%, rgba(0,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(2%, rgba(0,0,0,1)), color-stop(81%, rgba(54,54,54,1)), color-stop(88%, rgba(31,31,31,1)), color-stop(100%, rgba(0,0,0,1)));
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 2%, rgba(54,54,54,1) 81%, rgba(31,31,31,1) 88%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 2%, rgba(54,54,54,1) 81%, rgba(31,31,31,1) 88%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 2%, rgba(54,54,54,1) 81%, rgba(31,31,31,1) 88%, rgba(0,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 2%, rgba(54,54,54,1) 81%, rgba(31,31,31,1) 88%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
.bg-gold{
	background: rgba(139,75,19,1);
background: -moz-linear-gradient(top, rgba(139,75,19,1) 0%, rgba(192,137,54,1) 9%, rgba(193,142,55,1) 19%, rgba(255,250,174,1) 42%, rgba(193,142,55,1) 66%, rgba(125,69,0,1) 83%, rgba(193,142,55,1) 98%, rgba(193,142,55,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(139,75,19,1)), color-stop(9%, rgba(192,137,54,1)), color-stop(19%, rgba(193,142,55,1)), color-stop(42%, rgba(255,250,174,1)), color-stop(66%, rgba(193,142,55,1)), color-stop(83%, rgba(125,69,0,1)), color-stop(98%, rgba(193,142,55,1)), color-stop(100%, rgba(193,142,55,1)));
background: -webkit-linear-gradient(top, rgba(139,75,19,1) 0%, rgba(192,137,54,1) 9%, rgba(193,142,55,1) 19%, rgba(255,250,174,1) 42%, rgba(193,142,55,1) 66%, rgba(125,69,0,1) 83%, rgba(193,142,55,1) 98%, rgba(193,142,55,1) 100%);
background: -o-linear-gradient(top, rgba(139,75,19,1) 0%, rgba(192,137,54,1) 9%, rgba(193,142,55,1) 19%, rgba(255,250,174,1) 42%, rgba(193,142,55,1) 66%, rgba(125,69,0,1) 83%, rgba(193,142,55,1) 98%, rgba(193,142,55,1) 100%);
background: -ms-linear-gradient(top, rgba(139,75,19,1) 0%, rgba(192,137,54,1) 9%, rgba(193,142,55,1) 19%, rgba(255,250,174,1) 42%, rgba(193,142,55,1) 66%, rgba(125,69,0,1) 83%, rgba(193,142,55,1) 98%, rgba(193,142,55,1) 100%);
background: linear-gradient(to bottom, rgba(139,75,19,1) 0%, rgba(192,137,54,1) 9%, rgba(193,142,55,1) 19%, rgba(255,250,174,1) 42%, rgba(193,142,55,1) 66%, rgba(125,69,0,1) 83%, rgba(193,142,55,1) 98%, rgba(193,142,55,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b4b13', endColorstr='#c18e37', GradientType=0 );
}
.btm-1,.btm-2,.btm-3,.btm-4,.btm-5{padding: 10px; z-index:8889;text-align:center;display:flex;flex-direction:column;align-items:center;justify-content:center; filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b00000', endColorstr='#1c0000', GradientType=0 ); }

.btm-1:hover,.btm-2:hover,.btm-3:hover,.btm-4:hover,.btm-5:hover { color: #d5a400; }

a.link-btm { position: relative; min-width: 75px;}
.btm-3 {
    position: absolute;
    top: -3.36rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    background-color: transparent;
}
.btm-3 i { font-size: 40px; width: 70px; height: 70px; border-radius: 50%; background-color: rgba(176,0,0,1); display: flex; align-items: center; justify-content: center}

.c2-left,.c2-center,.c2-right{-webkit-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;
		background: rgba(199,0,0,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(199,0,0,1) 0%, rgba(59,0,0,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(199,0,0,1)), color-stop(100%, rgba(59,0,0,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(199,0,0,1) 0%, rgba(59,0,0,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(199,0,0,1) 0%, rgba(59,0,0,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(199,0,0,1) 0%, rgba(59,0,0,1) 100%);
background: radial-gradient(ellipse at center, rgba(199,0,0,1) 0%, rgba(59,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c70000', endColorstr='#3b0000', GradientType=1 );
	}
.c2-left:hover,.c2-center:hover,.c2-right:hover{z-index:8890;box-shadow:0 0 10px rgba(0, 0, 0, 0.6);margin-top:-10px;
		background: rgba(235,0,0,1);
background: -moz-linear-gradient(top, rgba(235,0,0,1) 0%, rgba(201,0,0,1) 49%, rgba(105,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(235,0,0,1)), color-stop(49%, rgba(201,0,0,1)), color-stop(100%, rgba(105,0,0,1)));
background: -webkit-linear-gradient(top, rgba(235,0,0,1) 0%, rgba(201,0,0,1) 49%, rgba(105,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(235,0,0,1) 0%, rgba(201,0,0,1) 49%, rgba(105,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(235,0,0,1) 0%, rgba(201,0,0,1) 49%, rgba(105,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(235,0,0,1) 0%, rgba(201,0,0,1) 49%, rgba(105,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb0000', endColorstr='#690000', GradientType=0 );}	
.bg-footer{display:grid;position:relative;width:100%;background:#000;}
.ft1{
	background: rgba(196,0,0,1);
background: -moz-linear-gradient(-45deg, rgba(196,0,0,1) 0%, rgba(112,0,0,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(196,0,0,1)), color-stop(100%, rgba(112,0,0,1)));
background: -webkit-linear-gradient(-45deg, rgba(196,0,0,1) 0%, rgba(112,0,0,1) 100%);
background: -o-linear-gradient(-45deg, rgba(196,0,0,1) 0%, rgba(112,0,0,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(196,0,0,1) 0%, rgba(112,0,0,1) 100%);
background: linear-gradient(135deg, rgba(196,0,0,1) 0%, rgba(112,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c40000', endColorstr='#700000', GradientType=1 );
}
.topic-page{
	background: rgba(28,28,28,1);
background: -moz-linear-gradient(top, rgba(28,28,28,1) 0%, rgba(77,77,77,1) 10%, rgba(5,5,5,1) 96%, rgba(5,5,5,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(28,28,28,1)), color-stop(10%, rgba(77,77,77,1)), color-stop(96%, rgba(5,5,5,1)), color-stop(100%, rgba(5,5,5,1)));
background: -webkit-linear-gradient(top, rgba(28,28,28,1) 0%, rgba(77,77,77,1) 10%, rgba(5,5,5,1) 96%, rgba(5,5,5,1) 100%);
background: -o-linear-gradient(top, rgba(28,28,28,1) 0%, rgba(77,77,77,1) 10%, rgba(5,5,5,1) 96%, rgba(5,5,5,1) 100%);
background: -ms-linear-gradient(top, rgba(28,28,28,1) 0%, rgba(77,77,77,1) 10%, rgba(5,5,5,1) 96%, rgba(5,5,5,1) 100%);
background: linear-gradient(to bottom, rgba(28,28,28,1) 0%, rgba(77,77,77,1) 10%, rgba(5,5,5,1) 96%, rgba(5,5,5,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c1c1c', endColorstr='#050505', GradientType=0 );
}
.casino-page2{
	background: rgba(125,0,0,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(125,0,0,1) 0%, rgba(125,0,0,1) 3%, rgba(33,0,0,1) 91%, rgba(33,0,0,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(125,0,0,1)), color-stop(3%, rgba(125,0,0,1)), color-stop(91%, rgba(33,0,0,1)), color-stop(100%, rgba(33,0,0,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(125,0,0,1) 0%, rgba(125,0,0,1) 3%, rgba(33,0,0,1) 91%, rgba(33,0,0,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(125,0,0,1) 0%, rgba(125,0,0,1) 3%, rgba(33,0,0,1) 91%, rgba(33,0,0,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(125,0,0,1) 0%, rgba(125,0,0,1) 3%, rgba(33,0,0,1) 91%, rgba(33,0,0,1) 100%);
background: radial-gradient(ellipse at center, rgba(125,0,0,1) 0%, rgba(125,0,0,1) 3%, rgba(33,0,0,1) 91%, rgba(33,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d0000', endColorstr='#210000', GradientType=1 );
}
	
/* button */	
button.btn-fb{max-width:100%;text-align:center;color:#fff;padding:3px 10px 0;margin:0 auto;background:#3080ca;
font-weight:300;font-family: 'Teko', sans-serif;font-size:0.8em;
position:relative;border-radius:6px;cursor:pointer;-webkit-transition:all .3s;transition:all .3s;}
button.btn-fb:hover{background:#00baff;color:#fff;}

button{width:100%;max-width:160px;text-align:center;color:#fff;padding:3px 10px 0;margin:0 auto;font-weight:300;
font-family: 'Teko', sans-serif;font-size:0.8em;position:relative;border-radius:6px;cursor:pointer;
-webkit-transition:all .3s;transition:all .3s;
background: #610000;}
button:hover{background:#fcd500;color:#fff;}

button.btn-join{width:100%;max-width:160px;text-align:center;color:#fff;padding:6px;margin:5px auto;font-weight:900;
font-family:'thai_sans_literegular', sans-serif;font-size:1em;position:relative;border-radius:6px;cursor:pointer;
-webkit-transition:all .2s;transition:all .2s;
background: #d30d0d;}
button.btn-join:hover{background:#f51a1a;box-shadow:0 3px 0px #ad0000;font-size:1.1em;}

button.btn-more{width:100%;max-width:160px;text-align:center;color:#fff;padding:6px;margin:5px auto;font-weight:900;
font-family:'thai_sans_literegular', sans-serif;font-size:1em;position:relative;border-radius:6px;cursor:pointer;
-webkit-transition:all .2s;transition:all .2s;
background:#cfaa63;}
button.btn-more:hover{background:#c9983e;box-shadow:0 3px 0px #9d6c14;font-size:1.1em;}

a.btn-login{width:100%;max-width:160px;text-align:center;color:#fff;padding:6px 20px;margin:5px auto;font-weight:900;
font-family:'thai_sans_literegular', sans-serif;font-size:1em;position:relative;border-radius:6px;cursor:pointer;
-webkit-transition:all .2s;transition:all .2s; background: #ffd104; box-shadow: 0 3px 0px #d5a400; color: #000;}
a.btn-login:hover{background:#c70000;box-shadow:0 3px 0px #960000;color:white;}

.btn-howto{width:100%;max-width:120px;text-align:center;color:#000;padding:0 10px 5px;margin:-3px auto 0;font-weight:900;
font-family:'thai_sans_literegular', sans-serif;font-size:0.86em;position:relative;border-radius:20px;cursor:pointer;
-webkit-transition:all .2s;transition:all .2s;border:3px solid #000;
background:#ffc704;}
.btn-howto:hover{background:#c70000;color:#fff;}
a.btn {
    color: #000;
}

button.btn-play{width:100%;max-width:120px;text-align:center;color:#000;padding:0 10px 5px;margin:-3px auto 0;font-weight:900;
font-family:'thai_sans_literegular', sans-serif;font-size:0.86em;position:relative;border-radius:20px;cursor:pointer;
-webkit-transition:all .2s;transition:all .2s;border:3px solid #000;
background:#ffc704;}
button.btn-play:hover{background:#c70000;color:#fff;}

button.btn-casino{width:90%;max-width:320px;text-align:center; color: #fff; padding: 6px 20px;margin: 8px 5%;cursor: pointer;
font-size:2em;font-family:'thai_sans_literegular', sans-serif;font-weight:100;text-shadow:0 1px 3px rgba(0, 0, 0, 0.46);
box-shadow:0 3px 30px rgba(0, 0, 0, 0.7);
background: rgba(163,230,55,1);
background: -moz-linear-gradient(top, rgba(163,230,55,1) 0%, rgba(81,168,15,1) 59%, rgba(36,99,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(163,230,55,1)), color-stop(59%, rgba(81,168,15,1)), color-stop(100%, rgba(36,99,0,1)));
background: -webkit-linear-gradient(top, rgba(163,230,55,1) 0%, rgba(81,168,15,1) 59%, rgba(36,99,0,1) 100%);
background: -o-linear-gradient(top, rgba(163,230,55,1) 0%, rgba(81,168,15,1) 59%, rgba(36,99,0,1) 100%);
background: -ms-linear-gradient(top, rgba(163,230,55,1) 0%, rgba(81,168,15,1) 59%, rgba(36,99,0,1) 100%);
background: linear-gradient(to bottom, rgba(163,230,55,1) 0%, rgba(81,168,15,1) 59%, rgba(36,99,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3e637', endColorstr='#246300', GradientType=0 );
}
button.btn-casino:hover{margin:3px 5% 13px;
	background: rgba(219,247,35,1);
background: -moz-linear-gradient(top, rgba(219,247,35,1) 0%, rgba(31,171,21,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(219,247,35,1)), color-stop(100%, rgba(31,171,21,1)));
background: -webkit-linear-gradient(top, rgba(219,247,35,1) 0%, rgba(31,171,21,1) 100%);
background: -o-linear-gradient(top, rgba(219,247,35,1) 0%, rgba(31,171,21,1) 100%);
background: -ms-linear-gradient(top, rgba(219,247,35,1) 0%, rgba(31,171,21,1) 100%);
background: linear-gradient(to bottom, rgba(219,247,35,1) 0%, rgba(31,171,21,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbf723', endColorstr='#1fab15', GradientType=0 );
}

button.btn-game{box-shadow:0 2px 0 rgba(0,0,0,0.1);
	background: rgba(189,0,0,1);
background: -moz-linear-gradient(top, rgba(189,0,0,1) 0%, rgba(189,0,0,1) 12%, rgba(120,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(189,0,0,1)), color-stop(12%, rgba(189,0,0,1)), color-stop(100%, rgba(120,0,0,1)));
background: -webkit-linear-gradient(top, rgba(189,0,0,1) 0%, rgba(189,0,0,1) 12%, rgba(120,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(189,0,0,1) 0%, rgba(189,0,0,1) 12%, rgba(120,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(189,0,0,1) 0%, rgba(189,0,0,1) 12%, rgba(120,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(189,0,0,1) 0%, rgba(189,0,0,1) 12%, rgba(120,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bd0000', endColorstr='#780000', GradientType=0 );
}
button.btn-game:hover{box-shadow:0 3px 1px rgba(0,0,0,0.3);
	background: rgba(240,0,0,1);
background: -moz-linear-gradient(top, rgba(240,0,0,1) 0%, rgba(240,0,0,1) 12%, rgba(196,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,0,0,1)), color-stop(12%, rgba(240,0,0,1)), color-stop(100%, rgba(196,0,0,1)));
background: -webkit-linear-gradient(top, rgba(240,0,0,1) 0%, rgba(240,0,0,1) 12%, rgba(196,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(240,0,0,1) 0%, rgba(240,0,0,1) 12%, rgba(196,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(240,0,0,1) 0%, rgba(240,0,0,1) 12%, rgba(196,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(240,0,0,1) 0%, rgba(240,0,0,1) 12%, rgba(196,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f00000', endColorstr='#c40000', GradientType=0 );
}

/* Make it a marquee */
.marquee {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    animation: marquee 50s linear infinite;
}
.marquee:hover {
    animation-play-state: paused
}
/* Make it move */
@keyframes marquee {
    0%   { text-indent: 27.5em }
    100% { text-indent: -105em }
}
@keyframes marquee{0%{text-indent:27.5em}
100%{text-indent:-105em}
}
.ani-01{-webkit-animation: color-change 0.3s infinite;
    -moz-animation: color-change 0.3s infinite;
    -o-animation: color-change 0.3s infinite;
    -ms-animation: color-change 0.3s infinite;
    animation: color-change 0.3s infinite;}
@-webkit-keyframes color-change {
    0% { color: #fff; }
    50% { color: #ffd000; }
    100% { color: #fff; }
}
@-moz-keyframes color-change {
    0% { color: #fff; }
    50% { color: #ffd000; }
    100% { color: #fff; }
}
@-ms-keyframes color-change {
    0% { color: #fff; }
    50% { color: #ffd000; }
    100% { color: #fff; }
}
@-o-keyframes color-change {
    0% { color: #fff; }
    50% { color: #ffd000; }
    100% { color: #fff; }
}
@keyframes color-change {
    0% { color: #fff; }
    50% { color: #ffd000; }
    100% { color: #fff; }
}
.moveup{-moz-animation:moveup 2s ease-in-out infinite;-webkit-animation:moveup 2s ease-in-out infinite;-o-animation:moveup 2s ease-in-out infinite;animation:moveup 2s ease-in-out infinite;}
@keyframes moveup{0{transform:translate(0px,0px);}
50%{transform:translate(0px,-25px);}
100%{transform:translate(0px,0px);}
}
@-moz-keyframes moveup{0{-moz-transform:translate(0px,0px);}
50%{-moz-transform:translate(0px,-25px);}
100%{-moz-transform:translate(0px,0px);}
}
@-webkit-keyframes moveup{0{-webkit-transform:translate(0px,0px);}
50%{-webkit-transform:translate(0px,-25px);}
100%{-webkit-transform:translate(0px,0px);}
}
@-o-keyframes moveup{0{-o-transform:translate(0px,0px);}
50%{-o-transform:translate(0px,-25px);}
100%{-o-transform:translate(0px,0px);}
}

/*menu responsive*/
.message{z-index:9991;background:#ad0000;color:#fff;position:fixed;top:0;left:-100%;width:100%;max-width:280px;height:100%;
padding:60px 0 80px 0;transition:left 0.8s cubic-bezier(0.17, 0.04, 0.03, 0.94);overflow-x:auto;box-sizing:border-box;box-shadow:3px 0px 100px #000000;}
#toggle{position:fixed;appearance:none;cursor:pointer;left:-100px;top:0;}
#toggle + label{z-index:9999;position:fixed;left:15px;top:0;cursor:pointer;padding:10px;color:#fff;line-height:0.8em;transform: scale(1.2);font-size:0.7em;text-align:center;-webkit-font-smoothing:antialiased;cursor:pointer;
margin:0;transition:all 1s ease;background:#8c0103 url("../images/toggle.png")no-repeat center center;}
#toggle + label:hover{color:#fff;background:#ce0003 url("../images/toggle.png")no-repeat center center;}
#toggle + label:after{content:"";border-radius:6px;padding:5px 10px;}
.container{transition:margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);padding:0 1%;}
#toggle:checked ~ .message{left:0;}
#toggle:checked ~ .container{margin-left:0px;-webkit-transition:all 0.3s;transition:all 0.3s;}
#toggle:checked + label{background:none;-webkit-transition:all 0.3s;transition:all 0.3s;}
#toggle:checked + label:after{content:"x";color:#fff;background:#e20000;border-radius:6px;margin-left:240px;}
div::-webkit-scrollbar{width:8px;background:#000;}
div::-webkit-scrollbar-thumb{background:#555;width:8px;border-radius:4px;}
div::-webkit-scrollbar-thumb:hover{background:#666;}
div::-webkit-scrollbar-thumb:active{background:#2f3a42;}

/* Slide */
.slider-wrapper{position:relative;width:100%;max-height:100%;overflow:hidden;float:left;}
.nivoSlider{position:relative;width:100%;height:100%;overflow:hidden;float:left;background:#000;}
.nivoSlider img{position:absolute;top:0px;left:0px;}
.nivo-main-image{display:block !important;position:relative !important;width:100% !important;height:100% !important;}
.nivoSlider a.nivo-imageLink{position:absolute;top:0px;left:0px;width:100%;height:100%;border:0;padding:0;margin:0;z-index:6;display:block;background:none;filter:alpha(opacity=0);opacity:0;}
.nivo-slice{display:block;position:absolute;z-index:5;height:100%;top:0;}
.nivo-box{display:block;position:absolute;z-index:5;overflow:hidden;}
.nivo-box img{display:block;}
.nivo-caption{font-size:1.1em;position:absolute;left:0;bottom:20px;color:#fff;background:rgba(239, 239, 239, 0.2);width:98%;min-height:15px;z-index:8;padding:5px 1% 0 1%;margin:0;overflow:hidden;display:none;text-align:center;}
.nivo-caption p{padding:5px;margin:0;}
.nivo-caption a{display:inline !important;}
.nivo-html-caption{display:block;}
.nivo-directionNav a{position:absolute;bottom:5%;z-index:9;cursor:pointer;display:none;}
.nivo-prevNav{right:35px;width:40px;height:50px;font-size:15px;color:#fff;background:url("../slide/images/arrows.png") 0px 0px;-webkit-transition:all 0.3s;transition:all 0.3s;}
.nivo-prevNav:hover{-ms-transform:scale(1.3,1.3);-webkit-transform:scale(1.3,1.3);transform:scale(1.3,1.3);}
.nivo-nextNav{right:10px;width:30px;height:50px;font-size:15px;color:#fff;background:url("../slide/images/arrows.png") -50px 0px;-webkit-transition:all 0.3s;transition:all 0.3s;}
.nivo-nextNav:hover{-ms-transform:scale(1.3,1.3);-webkit-transform:scale(1.3,1.3);transform:scale(1.3,1.3);}
.nivo-controlNav{float:left;z-index:999999;position:absolute;bottom:0;left:10px;display:block;padding:10px 2%;background:none;min-width:220px;}
.nivo-controlNav a{cursor:pointer;padding:2px;margin:0 5px;width:15px;height:2px;font-size:0;color:#000;background:rgba(255, 255, 255, 0.4);display:inline-block;-webkit-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
.nivo-controlNav a.active{cursor:pointer;padding:2px;margin:0 5px;width:90px;height:2px;font-size:0;color:#f9f9f9;background:#fff;}

.fb-box{width:100%;float:left;display:block;margin:0 auto;}
#fb-root {display: none;}
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style],.fb-xfbml-parse-ignore {
    width: 100% !important;}
.fb-page{width: 100% !important;}

/* form */
.input-01{font-size:0.7em;border-radius:4px;padding:5px 8px;width: 100%;background: #480000;border: 1px solid #a30808;color: #fff;}
.input-01:focus{background:#b80000;}
::placeholder {color:#c0c0c0;opacity: 1;}
:-ms-input-placeholder {color:#c0c0c0;}
::-ms-input-placeholder {color:#c0c0c0;}
.input-02{font-size:1em;border-radius:4px;margin: 5px 0 5px 0;padding:5px 8px;width:100%;
background:#fff;border: 1px solid #940000;color:#000;}
.input-02:focus{background:#fff;color:#000;}
/* register */
.tx-regis{font-size:1.6em;font-weight:600;color:#fff;}
label{font-size:1em;font-family:'thai_sans_literegular', sans-serif;color:#fff;font-weight:100;}
option,input[type=tel]{
  width: 100%;
  padding: 5px 8px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border:1px solid #940000;
  background: #fff;
}

input[type=text]:focus, input[type=password]:focus {
  background:#fff;color:#000;
  outline: none;
}

/* Set a style for the submit/register button */
button.registerbtn {width:90%;max-width:320px;text-align:center; color: #fff; padding: 12px 20px;margin: 8px 5%;cursor: pointer;font-size:1.4em;
background: rgba(219,247,35,1);
background: -moz-linear-gradient(top, rgba(219,247,35,1) 0%, rgba(31,171,21,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(219,247,35,1)), color-stop(100%, rgba(31,171,21,1)));
background: -webkit-linear-gradient(top, rgba(219,247,35,1) 0%, rgba(31,171,21,1) 100%);
background: -o-linear-gradient(top, rgba(219,247,35,1) 0%, rgba(31,171,21,1) 100%);
background: -ms-linear-gradient(top, rgba(219,247,35,1) 0%, rgba(31,171,21,1) 100%);
background: linear-gradient(to bottom, rgba(219,247,35,1) 0%, rgba(31,171,21,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbf723', endColorstr='#1fab15', GradientType=0 );
}

.registerbtn:hover {
  background:#ffbb09;
}
button.registerbtn2 {
	max-width:180px;text-align:center;color:#000; padding:10px 10px 2px;cursor: pointer;font-size:1.3em;border-radius:6px;margin-bottom:-15px;
	box-shadow:0 2px 15px #000;font-weight:700;text-shadow:1px 1px 0px #fffcb1;margin-top: -2%;line-height: 1.1;border:2px solid #6c0002;
background: rgba(139,75,19,1);
background: -moz-linear-gradient(top, rgba(139,75,19,1) 0%, rgba(192,137,54,1) 9%, rgba(193,142,55,1) 19%, rgba(255,250,174,1) 42%, rgba(193,142,55,1) 66%, rgba(125,69,0,1) 83%, rgba(193,142,55,1) 98%, rgba(193,142,55,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(139,75,19,1)), color-stop(9%, rgba(192,137,54,1)), color-stop(19%, rgba(193,142,55,1)), color-stop(42%, rgba(255,250,174,1)), color-stop(66%, rgba(193,142,55,1)), color-stop(83%, rgba(125,69,0,1)), color-stop(98%, rgba(193,142,55,1)), color-stop(100%, rgba(193,142,55,1)));
background: -webkit-linear-gradient(top, rgba(139,75,19,1) 0%, rgba(192,137,54,1) 9%, rgba(193,142,55,1) 19%, rgba(255,250,174,1) 42%, rgba(193,142,55,1) 66%, rgba(125,69,0,1) 83%, rgba(193,142,55,1) 98%, rgba(193,142,55,1) 100%);
background: -o-linear-gradient(top, rgba(139,75,19,1) 0%, rgba(192,137,54,1) 9%, rgba(193,142,55,1) 19%, rgba(255,250,174,1) 42%, rgba(193,142,55,1) 66%, rgba(125,69,0,1) 83%, rgba(193,142,55,1) 98%, rgba(193,142,55,1) 100%);
background: -ms-linear-gradient(top, rgba(139,75,19,1) 0%, rgba(192,137,54,1) 9%, rgba(193,142,55,1) 19%, rgba(255,250,174,1) 42%, rgba(193,142,55,1) 66%, rgba(125,69,0,1) 83%, rgba(193,142,55,1) 98%, rgba(193,142,55,1) 100%);
background: linear-gradient(to bottom, rgba(139,75,19,1) 0%, rgba(192,137,54,1) 9%, rgba(193,142,55,1) 19%, rgba(255,250,174,1) 42%, rgba(193,142,55,1) 66%, rgba(125,69,0,1) 83%, rgba(193,142,55,1) 98%, rgba(193,142,55,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b4b13', endColorstr='#c18e37', GradientType=0 );
}
.registerbtn2:hover {
	text-shadow:0px 1px 10px #fff;color:#000;box-shadow:0 2px 45px #ff0000;padding:12px 10px 10px;
	background: rgba(139,75,19,1);
background: -moz-linear-gradient(top, rgba(139,75,19,1) 0%, rgba(192,137,54,1) 4%, rgba(193,142,55,1) 9%, rgba(255,250,174,1) 23%, rgba(255,250,174,1) 41%, rgba(193,142,55,1) 70%, rgba(125,69,0,1) 87%, rgba(46,33,14,1) 96%, rgba(112,73,11,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(139,75,19,1)), color-stop(4%, rgba(192,137,54,1)), color-stop(9%, rgba(193,142,55,1)), color-stop(23%, rgba(255,250,174,1)), color-stop(41%, rgba(255,250,174,1)), color-stop(70%, rgba(193,142,55,1)), color-stop(87%, rgba(125,69,0,1)), color-stop(96%, rgba(46,33,14,1)), color-stop(100%, rgba(112,73,11,1)));
background: -webkit-linear-gradient(top, rgba(139,75,19,1) 0%, rgba(192,137,54,1) 4%, rgba(193,142,55,1) 9%, rgba(255,250,174,1) 23%, rgba(255,250,174,1) 41%, rgba(193,142,55,1) 70%, rgba(125,69,0,1) 87%, rgba(46,33,14,1) 96%, rgba(112,73,11,1) 100%);
background: -o-linear-gradient(top, rgba(139,75,19,1) 0%, rgba(192,137,54,1) 4%, rgba(193,142,55,1) 9%, rgba(255,250,174,1) 23%, rgba(255,250,174,1) 41%, rgba(193,142,55,1) 70%, rgba(125,69,0,1) 87%, rgba(46,33,14,1) 96%, rgba(112,73,11,1) 100%);
background: -ms-linear-gradient(top, rgba(139,75,19,1) 0%, rgba(192,137,54,1) 4%, rgba(193,142,55,1) 9%, rgba(255,250,174,1) 23%, rgba(255,250,174,1) 41%, rgba(193,142,55,1) 70%, rgba(125,69,0,1) 87%, rgba(46,33,14,1) 96%, rgba(112,73,11,1) 100%);
background: linear-gradient(to bottom, rgba(139,75,19,1) 0%, rgba(192,137,54,1) 4%, rgba(193,142,55,1) 9%, rgba(255,250,174,1) 23%, rgba(255,250,174,1) 41%, rgba(193,142,55,1) 70%, rgba(125,69,0,1) 87%, rgba(46,33,14,1) 96%, rgba(112,73,11,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b4b13', endColorstr='#70490b', GradientType=0 );
}
/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  text-align: center;
}



/* After login */
.logo-top{max-width:220px;margin: 0 auto;}
.after-login-box{display:grid;padding:5px 10%;min-height:85px;text-align:center;margin:0 auto;align-items:center;grid-auto-rows: auto;
	grid-template-columns:240px 1fr auto;grid-template-areas:"h-logo . user-box";
background: rgba(181,0,0,1);
background: -moz-linear-gradient(top, rgba(181,0,0,1) 0%, rgba(66,0,0,1) 96%, rgba(13,0,0,1) 99%, rgba(13,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(181,0,0,1)), color-stop(96%, rgba(66,0,0,1)), color-stop(99%, rgba(13,0,0,1)), color-stop(100%, rgba(13,0,0,1)));
background: -webkit-linear-gradient(top, rgba(181,0,0,1) 0%, rgba(66,0,0,1) 96%, rgba(13,0,0,1) 99%, rgba(13,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(181,0,0,1) 0%, rgba(66,0,0,1) 96%, rgba(13,0,0,1) 99%, rgba(13,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(181,0,0,1) 0%, rgba(66,0,0,1) 96%, rgba(13,0,0,1) 99%, rgba(13,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(181,0,0,1) 0%, rgba(66,0,0,1) 96%, rgba(13,0,0,1) 99%, rgba(13,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b50000', endColorstr='#0d0000', GradientType=0 );	
}
.user-box{grid-area:user-box;display:grid;text-align:right;font-size:0.64em;grid-gap:5px;align-items: center;padding:15px 40px;
grid-template-columns:1fr auto;grid-template-areas:"usb-1 usb-3""usb-2 usb-2";border-radius:0 0 16px 16px;background:#a90000;}
	.usb-1{grid-area:usb-1;text-align: left;}
	.usb-2{grid-area:usb-2;display:grid;position:relative;grid-template-columns:auto auto auto;justify-content:end;grid-gap:5px;}
	.usb-3{grid-area:usb-3;display:grid;grid-template-columns:1fr 1fr;grid-gap:3px;align-items: center;}
.btn-user{width:100%;text-align:center;padding:3px 5px;color:#fff;border: 1.5px solid #995d07;background: #c89b45;}
.btn-user:hover{background: #fff;}
.btn-user-m1,.btn-user-m2{width:100%;text-align:center;border-radius:0;padding:3px 20px;color:#fff;border: 1px solid #fff;
display:block;font-size: 0.9em;font-family:sans-serif;background:none;}
.btn-user-m1:hover,.btn-user-m2:hover{text-shadow:none;background:#ffd20d;color:#e70000;border: 1px solid #5e0000;}
	.btn-user-m1:hover .user-sub-m1,.btn-user-m2:hover .user-sub-m2{display:block;}
	.user-sub-m1,.user-sub-m2{display:none;position:absolute;background:#313131;color:#e70000;z-index:9000;
	width:100%;left:0;top: 100%;border: 1px solid #000;box-shadow:0 8px 20px rgba(0, 0, 0, 0.8);}
	.user-sub-m1 a,.user-sub-m2 a{padding:3px 10px;display: block;}
	.user-sub-m1 a:hover,.user-sub-m2 a:hover{background:#444;}
	
	
.popup-m{margin:60px auto;padding:0;background:#131313;border-radius: 5px;border: 1px solid #333333;
width:80%;max-width:400px;position: relative;transition: all .5s ease-in-out;}
.popup-m .content {max-height: 80%;overflow: auto;padding:30px 15px;text-align:center;}
.popup-m .close {position: absolute;top:-10px;right: 10px;transition: all 200ms;font-size: 30px;
font-weight: bold;text-decoration: none;color: #eaeaea;}
a.btn-user-m1{width:100%;text-align:center;padding:3px 20px;border:1px solid #460000;
color:#e70000;background:#ffd20d;
}
a.btn-user-m1:hover{text-shadow:none;color:#fff;background:#000;}
.tx-cr{letter-spacing:1px;color: #ffd200;text-shadow: 0 1px 5px #f00;background:#a80000;
padding:0 10px;display: inline; border-radius: 4px;}


/* popup login */
.pop-login{display:none;}
.button-popup{display: grid;padding:6px 5px 4px;margin:0 auto;width:100%;max-width:200px;text-align:center;
background:none;color:#fff;border-radius:6px;border:1.5px solid #fff;
font-size:1.1em;font-family:'Teko', sans-serif;}
.overlay {z-index: 9000;position: fixed;top: 0;bottom: 0;left: 0;right: 0;background: rgba(0, 0, 0, 0.25);
transition: opacity 500ms;visibility: hidden;opacity: 0;}
.overlay:target {visibility: visible;opacity: 1;}
.popup {margin:60px auto;padding:0;background:#9f9f9f;border-radius: 5px;width: 80%;position: relative;transition: all .5s ease-in-out;}
.popup .close {position: absolute;top: 0;right: 10px;transition: all 200ms;font-size: 30px;font-weight: bold;text-decoration: none;color: #eaeaea;}
.popup .content {max-height: 80%;overflow: auto;padding:13% 15px;}
.poplog-h{padding:10px 15px;color:#ffc917;font-size:0.7em;text-align:center;font-weight:900;
background: rgba(181,0,0,1);
background: -moz-linear-gradient(top, rgba(181,0,0,1) 0%, rgba(66,0,0,1) 96%, rgba(13,0,0,1) 99%, rgba(13,0,0,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(181,0,0,1)), color-stop(96%, rgba(66,0,0,1)), color-stop(99%, rgba(13,0,0,1)), color-stop(100%, rgba(13,0,0,1)));
background: -webkit-linear-gradient(top, rgba(181,0,0,1) 0%, rgba(66,0,0,1) 96%, rgba(13,0,0,1) 99%, rgba(13,0,0,1) 100%);
background: -o-linear-gradient(top, rgba(181,0,0,1) 0%, rgba(66,0,0,1) 96%, rgba(13,0,0,1) 99%, rgba(13,0,0,1) 100%);
background: -ms-linear-gradient(top, rgba(181,0,0,1) 0%, rgba(66,0,0,1) 96%, rgba(13,0,0,1) 99%, rgba(13,0,0,1) 100%);
background: linear-gradient(to bottom, rgba(181,0,0,1) 0%, rgba(66,0,0,1) 96%, rgba(13,0,0,1) 99%, rgba(13,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b50000', endColorstr='#0d0000', GradientType=0 );}

/* Video Content */
.video-content {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.video-iframe,
.video-text {
    padding: 20px;
}

.video-iframe {
    flex: 1;
    width: 100%;
}

.video-iframe iframe {
    width: 500px;
    height: 300px;
}

.video-text h2 {
    font-size: 1.5em;
    font-family: 'thai_sans_literegular', sans-serif;
    font-weight: bold;
    color: white;
}

.video-text h3 {
    font-size: 0.85em;
    font-family: 'thai_sans_literegular', sans-serif;
    color: white;
    line-height: 1.2;
    padding: 5px 15px;
}

.desktop {
    display: block;
}

.mobile {
    display: none;
}

@media only screen and (max-width:960px){
.after-login-box{grid-template-columns:1fr;grid-template-areas:"h-logo""user-box";padding: 5px 3%;}
.user-box{grid-template-areas: "usb-1""usb-2""usb-3";background:#750000;}
.usb-1{text-align: right;}
.usb-2{grid-template-columns: auto auto 1fr;}
.pop-login{display: grid;width: 100%;position: absolute;max-width:90px;left: 60px;}
.form-login{max-width:100% !important;}
.button-popup{font-size: 0.7em;font-family: sans-serif;max-width:160px;background: #c18e37;border: 1.5px solid #c08936;}
}
@media (max-width: 768px) {
   .video-content {
       flex-direction: column;
   }

    .video-iframe {
        padding-bottom: 0;
    }

    .video-iframe iframe {
        width: 100%;
    }

    .video-text h3 {
        height: 160px;
        overflow: scroll;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}
@media (max-width:480px){
    a.btn-login { padding: 0 15px; }
    .after-login-box{padding: 5px 3%;}
    .user-box{grid-template-areas: "usb-1""usb-2""usb-3";background:none;padding: 15px 20px;}
    .usb-1{text-align:center;}
    .usb-2{grid-template-columns:1fr 1fr;}
    .btn-user-m1, .btn-user-m2{max-width:100%;}
    a.btn-user-m1{grid-column: 1 / 3;}
}