<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>
  $(function () {
    var socket = io('https://socket.sagame88.com');
    socket.on('deposit_user2', function(msg){
        console.log(msg)
        $('#messages').append($('<li>').text(msg.datetime+": "+msg.amount+" THB, "+msg.username));
    });
  });
</script>
<h1>User2</h1>
<div id="messages"></div>
